<?xml version="1.0"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="defaultProfile" name="WcfService.Service1">
        <!--<endpoint address="" binding="basicHttpBinding" bindingConfiguration="basic" name="basicService" contract="WcfService.IService1"/>-->
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsSecureBinding" name="wsSecureService" contract="WcfService.IService1"/>
        <!--<endpoint address="" binding="wsHttpBinding" bindingConfiguration="wsPlainBinding" name="wsPlainService" contract="WcfService.IService1"/>-->
      <host>
        <baseAddresses>
          <add baseAddress="http://localhost:7896"/>
        </baseAddresses>
      </host>
      </service>
    
    </services>
    <bindings>
      <!--<basicHttpBinding>
        <binding name="basic"></binding>
      </basicHttpBinding>-->
      <wsHttpBinding>
        <binding name="wsSecureBinding">
          <security mode="Message">
            <transport clientCredentialType="None"></transport>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
        <!--<binding name="wsPlainBinding"></binding>-->
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="defaultProfile">
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <serviceCredentials>
            <userNameAuthentication userNamePasswordValidationMode="Custom" 
                                    customUserNamePasswordValidatorType="WcfService.App_Code.UsernameValidator, App_Code"/>
            <!--<serviceCertificate findValue="WCFService" storeLocation="CurrentUser" storeName="My" x509FindType="FindBySubjectName" />-->
            <!--<serviceCertificate findValue="WCFServiceLMN" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />-->
            <serviceCertificate findValue="WCFServiceLMN" storeLocation="LocalMachine" storeName="Root" x509FindType="FindBySubjectName" />
            <!--<serviceCertificate findValue="ikw-sds-rs.kw.isys.mobi" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName" />-->
            <!--<clientCertificate>
            <authentication certificateValidationMode="None"/>
          </clientCertificate>-->
          
            <!--Certificate generated using plural sight tool for Localmachine-->
            <!--In debug mode it was working but in IIS , it thrown below error-->
            <!--Keyset doesnot exist issue resolved by giving access to the account which access the certificate from IIS- IIS_IUSRS-->
        <!--https://stackoverflow.com/questions/602345/cryptographicexception-keyset-does-not-exist-but-only-through-wcf-->
            <!--Then-->
          <!--{"The X.509 certificate CN=WCFServiceLMN chain building failed. The certificate that was used has a trust chain that cannot be verified. Replace the certificate or change the certificateValidationMode. A certificate chain processed, but terminated in a root certificate which is not trusted by the trust provider.\r\n"}-->
          <!--Moved the certificate to Trusted folder from Personal and changed storeName="Root" in config file-->
          <!--It worked with Username password and throws below exception for incorrect creds-->
          <!--{"An error occurred when processing the security tokens in the message."}-->
          
        <!--customUserNamePasswordValidatorType="WcfService.App_Code.UsernameValidator, App_Code"--><!-- 2nd part is folder underwhich namespace is present-->
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
    <!--<protocolMapping>
      <add binding="wsHttpBinding" scheme="https" />
    </protocolMapping>-->
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
